@import "~react-image-gallery/styles/css/image-gallery.css";

/* -------------------- HTML ELEMENTS -------------------- */
html {
    font-size: 10px;
}

body {
    margin: 0;
    background-color: #1b2225;
    opacity: 1;
}

pre {
    margin: 0;
}

img {
    margin: 0;
    display: block;
    width: 100%;
}

a {
    color: #ffe02d;
    transition-duration: 300ms;
    text-decoration: none;
}

a:hover {
    color: #ff9b65;
}

/* -------------------- TYPOGRAPHY: REGULAR TEXT -------------------- */

.text {
    font-family: Consolas, Menlo, Monaco, "Droid Sans Mono", monospace;
    margin: 7%;
    font-size: 5vw;
    line-height: 9vw;
    color: #cbd3de;
}

@media only screen and (min-width: 700px) {
    .text {
        font-size: 2vw;
        line-height: 4vw;
    }
}

@media only screen and (min-width: 1200px) {
    .text {
        font-size: 24px;
        line-height: 48px;
    }
}

.text-content {
    margin: 0 7%;
}

/* -------------------- TYPOGRAPHY: "CODE" TEXT -------------------- */

.code {
    color: #8ac897;
    font-family: Consolas, Menlo, Monaco, "Droid Sans Mono", monospace;
    font-size: 4vw;
    line-height: 7vw;
    white-space: pre-wrap;
}

@media only screen and (min-width: 700px) {
    .code {
        font-size: 2vw;
        line-height: 3vw;
    }
}

@media only screen and (min-width: 1200px) {
    .code {
        font-size: 24px;
        line-height: 36px;
    }
}

/* -------------------- CONTAINERS: GENERAL -------------------- */

.main-column-container {
    max-width: 1200px;
    margin: 0 auto;
}

.row-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 700px) {
    .row-container {
        flex-direction: row;
    }

    .row-container-reverse {
        flex-direction: row-reverse;
    }
}

.block {
    width: 100%;
    font-size: 10px;
    aspect-ratio: 1;
}

@media only screen and (min-width: 700px) {
    .block {
        width: 50%;
    }
}

@media only screen and (min-width: 700px) {
    .max-width {
        width: 100%;
    }
}

.content {
    width: 100%;
    padding: 6% 0;
}

/* -------------------- CONTAINERS: TEXT -------------------- */

.text-block-container {
    padding-top: 0;
    padding-bottom: 8vw;
}

@media only screen and (min-width: 700px) {
    .text-block-container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* -------------------- CONTAINERS: CODE -------------------- */

.code-container {
    padding: 3vw;
}

/* -------------------- CONTAINERS: LOGOS -------------------- */

.logo-container {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #df8859;
}

@media only screen and (min-width: 700px) {
    .logo-container {
        aspect-ratio: 1;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.logo-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* -------------------- LOGOS -------------------- */

.logo {
    width: 30%;
    max-width: 200px;
    max-height: 200px;
    filter: grayscale(30%);
}

/* -------------------- COLORS -------------------- */

.dark-background {
    background-color: #1b2225;
}

.dark-background-alt {
    background-color: #121a1d;
}

.portrait {
    background-color: #a07c9a;
}

.code-purple {
    color: #cf92c3;
}

.code-grey {
    color: #cbd3de;
}

.code-green {
    color: #8ac897;
}

.code-yellow {
    color: #f9d618;
}

.code-blue {
    color: #4f9bcc;
}

.code-red {
    color: #ff3a26;
}

.code-orange {
    color: #ff8b4d;
}

.colorize-blue {
    filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}

/* -------------------- PORTRAIT ANIMATION -------------------- */

.animation-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.foreground-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: screen;
    opacity: 0.4;
    background: linear-gradient(-45deg, #cf92c3, #c055ab, #539db7, #d5eeff);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

.background-animation {
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #cf92c3, #c055ab, #539db7, #d5eeff);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* -------------------- OTHERS -------------------- */

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: none;
}

.Typewriter__cursor {
    display: none;
}
